/* -------------------------------------
        GLOBAL
------------------------------------- */
/* line 4, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\000034}}
body,
td,
p,
a,
h1,
h2,
h3,
li {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
  font-size: 100%;
  line-height: 1.3;
}
/* line 12, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\0000312}}
img {
  max-width: 100%;
}
/* line 16, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\0000316}}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100%!important;
  height: 100%;
}
/* -------------------------------------
        ELEMENTS
------------------------------------- */
/* line 27, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\0000327}}
a {
  color: #348eda;
}
/* line 31, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\0000331}}
.btn-primary,
.btn-secondary {
  text-decoration: none;
  color: #FFF;
  background-color: #e99002;
  padding: 10px 20px;
  font-weight: bold;
  margin: 20px 10px 20px 0;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
}
/* line 44, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\0000344}}
.btn-secondary {
  background: #aaa;
}
/* line 48, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\0000348}}
.last {
  margin-bottom: 0;
}
/* line 52, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\0000352}}
.first {
  margin-top: 0;
}
/* -------------------------------------
        BODY
------------------------------------- */
/* line 60, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\0000360}}
table.body-wrap {
  width: 100%;
  padding: 20px;
}
/* line 65, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\0000365}}
table.body-wrap .container {
  border: 1px solid #f0f0f0;
}
/* -------------------------------------
        FOOTER
------------------------------------- */
/* line 73, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\0000373}}
table.footer-wrap {
  width: 100%;
  clear: both!important;
}
/* line 78, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\0000378}}
.footer-wrap .container p {
  font-size: 12px;
  color: #666;
}
/* line 84, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\0000384}}
table.footer-wrap a {
  color: #999;
}
/* -------------------------------------
        TYPOGRAPHY
------------------------------------- */
/* line 92, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\0000392}}
h1,
h2,
h3 {
  line-height: 1.1;
  color: #000;
  margin: 10px 0;
  font-weight: 200;
}
/* line 99, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\0000399}}
h1 {
  font-size: 36px;
}
/* line 102, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\00003102}}
h2 {
  font-size: 24px;
}
/* line 105, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\00003105}}
h3 {
  font-size: 22px;
}
/* line 109, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\00003109}}
p,
ul {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
}
/* line 115, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\00003115}}
ul li {
  margin-left: 5px;
  list-style-position: inside;
}
/* ---------------------------------------------------
        RESPONSIVENESS
        Nuke it from orbit. It's the only way to be sure.
------------------------------------------------------ */
/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
/* line 126, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\00003126}}
.container {
  display: block!important;
  max-width: 600px!important;
  margin: 0 auto!important;
  /* makes it centered */
  clear: both!important;
}
/* This should also be a block element, so that it will fill 100% of the .container */
/* line 134, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\00003134}}
.content {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
/* Let's make sure tables in the content area are 100% wide */
/* line 142, app/Resources/css/email/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/Resources\/css\/email\/main\.less}line{font-family:\00003142}}
.content table {
  width: 100%;
}
